.box {
    margin-left: 200px;
    margin-right: 200px;
    width: 750px;
}

h1 {
    font-weight: 900;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 600;
    margin-left: 200px;
    margin-right: 200px;
}
body {
    background-color: #333333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 200px;

}

.navSetup ul {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-left: 200px;
    margin-right: 200px;
}
  
.navSetup li {
    float: left;
}

.navSetup li p {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: 900;
}

.navSetup li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 9px;
    text-decoration: none;
    font-weight: 900;
}

hr {
    opacity: 1;
    border: 1px solid white;
    margin-left: 00px;
}
.border {
    opacity: 1;
    border: 1px solid white;
    margin-left: 200px;
    width: 725px;
}

a:link {
    color: white;
    font-weight: bold;
  }
  
  a:visited {
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: white;
    font-weight: bold;
  }
  
  a:active {
    color: white;
    font-weight: bold;
  }