.box {
    border: 1px solid white;
    margin-left: 300px;
    margin-right: 300px;
    width: 500px;
}

h1 {
    font-weight: 900;
    padding-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 600;
    text-decoration: underline;
    margin-left: 200px;
    margin-right: 200px;
}
body {
    background-color: #333333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    margin-left: 200px;
    margin-right: 200px;

}

ul {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    margin-left: 200px;
    margin-right: 200px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 6px;
    text-decoration: none;
    font-weight: 900;
}

li a:hover {
    color: #111;
}

hr {
    opacity: 1;
    border: 1px solid white;
    margin-left: 200px;
    margin-right: 200px;
}